.container {
    max-width: 900px;
    margin: 10% auto 16.5% auto;
}

.header {
    margin-bottom: 2rem;
}

.title {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    color: #111827;
}

.subtitle {
    color: #6b7280;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section {
    background: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e5e7eb;
    width: 25rem;
    margin: 0 auto;
}

.sectionTitle {
    font-size: 1.25rem;
    font-weight: 600;
    color: #111827;
    margin-bottom: 1rem;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 1rem;
}

.input,
.select {
    padding: 0.625rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    outline: none;
    transition: border-color 0.2s;
}

.input:focus,
.select:focus {
    border-color: #2563eb;
}

.textarea {
    padding: 0.625rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-family: inherit;
    resize: vertical;
    outline: none;
    transition: border-color 0.2s;
}

.textarea:focus {
    border-color: #2563eb;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.submitButton {
    padding: 0.75rem 2rem;
    margin: 0 auto;
    border-radius: 0.375rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
}

.cancelButton:hover {
    background-color: #f9fafb;
}

.submitButton {
    background-color: #2563eb;
    color: white;
    border: none;
}

.chooseText {
    display: inline-block;   /* чтобы margin-top работал */
    text-align: center;
    font-size: 14px;
    color: #4A90E2;          /* цвет ссылки */
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2s;
}

.chooseText:hover {
    color: #1c6cd5;          /* эффект наведения */
    text-decoration: none;   /* убрать подчёркивание при наведении */
}


.submitButton:hover {
    background-color: #1d4ed8;
}
